:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-family: var(--primary-font);
}
