:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --background-color: #1b1b1b;
  --footer-color: #282323;
}

body {
  background: var(--background-color);
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 72px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 30px;
}

h2 {
  font-family: var(--primary-font);
  color: white;
}

p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.intro {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 25px;
}

.btn {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.15rem;
  font-weight: 700;
  background: white;
  border: none;
  border-radius: 50px;
  padding: 15px 35px;
  margin: 50px;
}

.btn:hover {
  background: white;
  color: black;
}

div.hero {
  text-align: center;
  padding: 240px 20px;
  background: url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero p {
  max-width: 460px;
  margin: 0 auto;
}

.big-gallery {
  margin: 60px 0;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 42px;
  }

  p {
    font-size: 16px;
  }

  .intro {
    font-size: 20px;
  }

  .big-gallery {
    padding: 0 20px;
  }
}
