:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --background-color: #1b1b1b;
  --footer-color: #282323;
  --accent-color: #f65282;
}

body {
  background: var(--background-color);
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 72px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 30px;
}

h2 {
  font-family: var(--primary-font);
  color: white;
}

p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  color: white;
  line-height: 30px;
}

.intro {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 25px;
}

.btn {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.15rem;
  font-weight: 700;
  background: white;
  border: none;
  border-radius: 50px;
  padding: 15px 35px;
  margin: 50px;
}

.btn:hover {
  background: white;
  color: black;
}

div.hero {
  text-align: center;
  padding: 240px 20px;
  background: url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero p {
  max-width: 460px;
  margin: 0 auto;
}

.big-gallery {
  margin: 60px 0;
}

/* ABOUT PAGE */

.about-me h1 {
  font-size: 64px;
}

.about-me p {
  max-width: 560px;
}

.about-heading {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.15rem;
}

.about-intro {
  padding: 50px 0;
}

.about-me-gallery {
  padding: 80px 0;
}

.fa-brands {
  color: white;
  padding: 0 30px 0 0;
  font-size: 16px;
}

.about-me img {
  width: 100%;
  height: auto;
}

.camera-box {
  display: flex;
  background: var(--footer-color);
  padding: 10px;
  max-width: 380px;
  margin-top: 10px;
}

.camera-box img {
  width: 70px;
  height: auto;
  padding-right: 20px;
}

/* GALLERY PAGE */
.gallery-heading {
  margin-top: 50px;
  margin-bottom: 100px;
}

/* CONTACT PAGE */
.contact-heading {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 30px;
}

.contact-medium {
  padding-top: 20px;
}

.contact-medium p {
  text-align: center;
}

/* NAVIGATION */
nav a {
  color: white;
  margin: 0 10px;
}

nav a:hover {
  color: var(--accent-color);
}

.navbar {
  background: #202020;
  padding: 10px;
  padding-top: 20px;
}

.navbar-brand img {
  width: 150px;
  height: auto;
  margin-left: 40px;
}

.navbar-nav {
  margin-right: 40px;
}

.navbar-collapse {
  text-align: center;
  margin-top: 20px;
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 767.98px) {
  h1 {
    font-size: 42px;
  }

  p {
    font-size: 16px;
  }

  .intro {
    font-size: 20px;
  }

  .big-gallery {
    padding: 0 20px;
  }

  .about-me {
    padding: 0 20px;
  }
}
